{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="delete-wrapper">

    <div class="delete-card">

        <h3>
            Delete Recipe
        </h3>

        <p class="delete-text">
            Are you sure you want to delete?
        </p>

        <h4 class="recipe-delete-name">
            "{{ recipe.name }}"
        </h4>

        <div class="delete-buttons">

            <a href="{% url 'recipe_details' recipe.id %}" class="btn cancel-btn">
                Cancel
            </a>

            <form method="POST" action="{% url 'confirm_delete' recipe.id %}">
                {% csrf_token %}
                <button class="btn confirm-btn">
                    Delete
                </button>
            </form>

        </div>

    </div>

</div>

{% endblock %}