{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="recipe-detail-card">

    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="detail-image">
    {% else %}
        <img src="{% static 'images/recipe_default.jpg' %}" alt="Default Image" class="detail-image">
    {% endif %}

    <div class="detail-body">

        <h2 class="recipe-title">
            {{ recipe.name }}
        </h2>

        <div class="detail-item">
            <span class="label">Difficulty</span>
            <span>{{ recipe.difficulty_level }}</span>
        </div>

        <div class="detail-item">
            <span class="label">Cooking Time</span>
            <span>{{ recipe.cooking_time }} Minutes</span>
        </div>

        <hr>

        <h5>Ingredients</h5>

        <p class="detail-text">
            {{ recipe.ingredients|linebreaksbr}}
        </p>

        <hr>

        <h5>Instructions</h5>

        <p class="detail-text">
            {{ recipe.instructions|linebreaksbr}}
        </p>

        <div class="detail-buttons">

            <a href="{% url 'edit_recipe' recipe.id %}" class="btn edit-btn">
                Edit Recipe
            </a>

            <a href="{% url 'delete_recipe' recipe.id %}" class="btn delete-btn">
                Delete Recipe
            </a>

        </div>

    </div>

</div>

{% endblock %}