{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="page-title mb-4">
    All Recipes
</h2>

<div class="row g-4">

    <!-- dummmy card -->
    <div class="col-lg-4 col-md-6">
        <a href="{% url 'recipe_form' %}" class="text-decoration-none">
            <div class="recipe-card add-card">

                <div class="add-card-content">
                    <div class="plus-icon">+</div>
                    <p>Add New Recipe</p>
                </div>

            </div>
        </a>
    </div>

    {% for recipe in recipes %}

    <div class="col-lg-4 col-md-6">

        <div class="recipe-card">

            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="recipe-image">
            {% else %}
                <img src="{% static 'images/recipe_default.jpg' %}" alt="Default Image" class="recipe-image">
            {% endif %}

            <div class="recipe-content">

                <h4>{{ recipe.name }}</h4>

                <span class="difficulty">
                    {{ recipe.difficulty_level }}
                </span>

                <a href="{% url 'recipe_details' recipe.id %}" class="btn view-btn">
                    View Recipe
                </a>

            </div>

        </div>

    </div>

    {% endfor %}


</div>

{% endblock %}