{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card">

<div class="card-body">

  {% if recipe.image %}
    <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="recipe-image"> 
  {% else %}
    <img src="{% static 'images/whiterice-cooked.jpg' %}" alt="Static image" class="default_image">
  {% endif %}

  <h2>{{ recipe.name }}</h2>

  {{ recipe.ingredients }}

  {{ recipe.cooking_time }} minutes

  <b>{{ recipe.difficulty_level }}</b>

  {{ recipe.instructions }}

</div>

</div>

{% endblock %}